body { font-size: 200%; }
sup { vertical-align: super; }
/* sup { vertical-align: sub; } */
/* sup { vertical-align: baseline; } */
/* sup { vertical-align: top; } */
/* sup { vertical-align: text-top; } */
/* sup { vertical-align: middle; } */
/* sup { vertical-align: bottom; } */
/* sup { vertical-align: text-bottom; } */
/* sup { vertical-align: 5%; } */
/* sup { vertical-align: 8px; } */