body { font-size: 200%; }
p { background: yellow; text-align: justify; }
/* p { margin-top: 80px; } */
/* p { margin-right: 60px; } */
/* p { margin-bottom: 30px; } */
/* p { margin-left: 60px; } */
/* p { margin: 30px 60px 10px 100px; } */
/* p { width: 60%; margin: 0 auto; } */