@charset "utf-8";
@import url('http://fonts.googleapis.com/css?family=VT323|Permanent+Marker|Crushed');

/** Setup & Helpers **/
.alignleft { float: left; }
.alignright { float: right; }
.aligncenter { margin: 0 auto; }
img.alignleft { margin-right: 8px; margin-bottom: 8px; }
img.alignright { margin-left: 8px; margin-bottom: 8px; }

.clearleft { clear: left; }
.clearright { clear: right; }
.clearcenter { clear: both; }

.message { color: #000; border: 2px solid; padding: 8px; margin: 8px auto; width: 80%; }
.message.failure { border-color: #c00; background-color: #fcc; }
.message.warning { border-color: gold; background-color: #ff9; }
.message.success { border-color: #060; background-color: #cfc; }
.message.new { border-color: #009; background-color: #e1e3fd; }
.message.note { border-color: #ccc; background-color: #eee; }




/** Layout **/
/** position, top, left, right, bottom, z-index, float, display, width, height, margin, padding, list, overflow, vertical-align **/
code { display: inline-block; padding: 0 2px; }

header h1, header h2
	{ margin: 0; }
	
nav { height: 30px; }
nav a { display: inline-block; padding: 0 8px; }

nav.back { position: fixed; top: 0; right: 20px; }

section { margin-bottom: 4em; padding-left: 60px; }

section h1, section h2, section h3, section h4, section h5, section h6
	{ padding: 2px 4px; }
section h1 { margin-left: -60px; }
section h2 { margin-bottom: 0; }

footer { width: 50%; margin: 0 auto; }
footer p { margin: 0; padding: 4px 8px; }




/** Colors & Typography **/
/** color, background, border, font (style, variant, weight, size, family), line-height, text **/
body { color: #666; background: #fff; font: normal normal normal 0.8em/1.5 Tahoma, sans-serif; }

a, a:link, a:visited
	{ color: #000; font-weight: bold; text-decoration: none; }
a:hover, a:active
	{ border-bottom: 1px solid #483183; }

header { text-align: center; }
header h1, header h2, header h3, header h4, header h5, header h6
	{ color: #483183; font: normal normal normal 2.4em/1 'Permanent Marker', cursive; }
header h2 { font-size: 1.8em; }
header h3 { font-size: 1.6em; }
header h4 { font-size: 1.5em; }
header h5 { font-size: 1.4em; }
header h6 { font-size: 1.3em; }

nav { line-height: 29px; text-align: center; }

nav.back { background: #fff; }

section h1, section h2, section h3, section h4, section h5, section h6
	{ color: #483183; border-bottom: 2px solid #483183; font: normal normal normal 2.0em/1 'Crushed', cursive; }
section h1 { color: #fff; background: #483183; border: none; }
section h2 { font-size: 1.6em; }
section h3 { font-size: 1.4em; }
section h4 { font-size: 1.3em; }
section h5 { font-size: 1.2em; }
section h6 { font-size: 1.1em; }

code { color: #555; background: #d8dbdd; font: normal normal normal 1.3em/1 'VT323', monospace; }

footer { color: #555; background: #d8dbdd; border: 2px solid #000; border-radius: 8px; }




/** Print Styles **/
@media print {
	* { background: #fff; }
	
	a, a:link, a:visited
		{ font-weight: normal; text-decoration: underline; }		
	a:link:after, a:visited:after {
		content: " (" attr(href) ") ";
		font-size: 90%;
	}
		
	code { font-size: 1em; }
	
	nav { display: none; }
	
	section { padding-left: 20px; page-break-after: always; page-break-inside: avoid; }
	section h1, section h2, section h3, section h4, section h5, section h6
		{ font-family: georgia, serif; }
	section h1 { margin-left: -20px; color: #483183; background: #fff; }
	
	footer { display: none; }
}
