body { font-size: 200%; }
p { font-family: serif; }
/* p { font-family: sans-serif; } */
/* p { font-family: cursive; } */
/* p { font-family: fantasy; } */
/* p { font-family: monospace; } */
/* p { font-family: Arial, sans-serif; } */
/* p { font-family: "My Fake Font", Arial, sans-serif; } */