#header { background: blue; color: white; }
#nav { background: green; color: white; }
.section { background: silver; }
#share { background: yellow; color: black; }
#footer { background: black; color: white; }

/** Add your rules below this line. **/
