body { font-size: 200%; }
p { background: yellow; text-align: justify; }
/* p { padding-top: 30px; } */
/* p { padding-right: 60px; } */
/* p { padding-bottom: 30px; } */
/* p { padding-left: 60px; } */
/* p { padding: 30px 60px 10px 100px; } */