body { font-size: 200%; }
p { border: 1px solid #000; }
/* p { border-width: 1px 2px 3px 4px; border-style: solid; border-color: #000; } */
/* p { border: 8px dotted #000; } */
/* p { border: 8px dashed #000; } */
/* p { border: 8px double #000; } */
/* p { border: 8px groove #000; } */
/* p { border: 8px ridge #000; } */
/* p { border: 8px inset #000; } */
/* p { border: 8px outset #000; } */